.navlink{
    color: black;
}

.navbar{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(18, 94, 21) 57%);
}



.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
    
}

.card-border:hover{
    transform: scale(1.05);
}

#perros{
    background: rgb(255, 255, 255);
    background: url(../img/bg-02.png),  linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#carouselExampleCaptions{
    margin:auto;
    margin-right:20px;
    margin-left:20px;
    margin-bottom: 20px;
    border: solid 8px rgb(42, 46, 49);
    border-radius: 20px;
}

.titulo{
    font-family: cursive;
}

#slide{
    color: black;
    font-weight: bold;
}

#redes{
    margin:auto;
    margin-right: 10px;
    margin-left: 350px;
}

#redes2{
    margin:auto;
    margin-left: 20px;
}

#redes3{
    margin:auto;
    margin-right: 10px;
    margin-left: 200px;
}
